<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>DNEF</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">	
	<link rel="stylesheet" type="text/css" href="css/media.css">	
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="js/perfil-electoral.js"> </script>

</head>

<body>
	<header>
		<div class="dnef-top-header">
			<div class="container container--header-top">
				<div class="dnef-correo-header"><span class="icon-message"></span> correo@jne.gob.pe</div>
				<div class="dnef-redes-header">
					<a href="#" class="item-redes-header"><span class="icon-facebook"></span></a>
					<a href="#" class="item-redes-header"><span class="icon-twitter"></span></a>
					<a href="#" class="item-redes-header"><span class="icon-youtube"></span></a>
					<a href="#" class="item-redes-header"><span class="icon-instagram"></span></a>
				</div>
			</div>
		</div>
		<!--LOGO Y MENU -->
		<div class="dnef-header">
			<div class="container">
				<div class="dnef-logo">
					<a href="https://portal.jne.gob.pe/portal" target="_blank"><img src="images/logo-dnef.svg" class="img100"></a>
				</div>
				<div class="dnef-content-servicios">
					<div class="btn-servicios btn-principal btn-cyan">SERVICIOS DNEF <span class="icon-arrow-bottom" style="font-size:10px"></span></div>
					<div class="content-logo-servicios">
						<a class="item-logo-servicio" href="https://votoinformado.jne.gob.pe/voto" target="_blank"><img src="images/voto-informado.svg" class="imgservicio"></a>
						<a class="item-logo-servicio" href="https://observaigualdad.jne.gob.pe/" target="_blank"><img src="images/observa.svg" class="imgservicio"></a>
						<a class="item-logo-servicio" href="https://cedie.jne.gob.pe/" target="_blank"><img src="images/cedie.svg" class="imgservicio"></a>
						<a class="item-logo-servicio" href="https://museoelectoral.jne.gob.pe/" target="_blank"><img src="images/museo.svg" class="imgservicio"></a>			
						<a class="item-logo-servicio" href="https://educacionvirtual.jne.gob.pe/dnef/" target="_blank"><img src="images/aula.svg" class="imgservicio"></a>
						<a style="display: none;" class="item-logo-servicio" href="#"><img src="images/repositorio.svg" class="imgservicio"></a>						
						<a class="item-logo-servicio" href="datos-abiertos.html" target="_blank"><img src="images/datos.svg" class="imgservicio"></a>
						<a class="item-logo-servicio" href="https://saednef.jne.gob.pe/" target="_blank"><img src="images/sae.svg" class="imgservicio"></a>
					</div>
				</div>
				<div class="btn-responsive-menu">
						Menu
						<span class="icon-hamburger" style="font-size: 30px"></span>
				</div>
				<ul class="dnef-menu">
					<li class="dnef-item-menu"><a href="index.html">INICIO</a></li>
					<li class="dnef-item-menu"><a href="nosotros.html">NOSOTROS</a></li>
					<li class="dnef-item-menu dnef-item-menu--active"><a href="lineas-trabajo.html">LÍNEAS DE TRABAJO</a></li>
					<li class="dnef-item-menu"><a href="certificados.html">CERTIFICADOS</a></li>
					<li class="dnef-item-menu"><a href="galeria.html">GALERÍA</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			
		</div>
	</header>
	<div class="dnef-content-secciones cd-content--ubicacion">
		<div class="container">
			<div class="titulo-ubicacion-web">Líneas de trabajo</div>
			<div class="dnef-ubicacion-web"><a href="#"> Inicio </a> <span class="icon-arrow-right" style="font-size:13px; margin: 0 10px;"></span> <a href="#">  Líneas de trabajo </a><span class="icon-arrow-right" style="font-size:13px; margin: 0 10px;"></span>Equipo de investigación</div>
		</div>
		
		
	</div>
	<!-- PERFIL-->
	<div class="dnef-content-secciones">
		<div class="container">
			<div class="content-tabs">
				<div class="content-link-tabs">
					<div class="titulo-tabs-seccion">Equipo de investigación</div>
					<div class="tab-link--dnef ir-enlace-self" data-file="unidad-investigacion.html">Investigación</div>
					<div class="tab-link--dnef ir-enlace-self" data-file="publicaciones.html">Publicaciones</div>
					<div class="tab-link--dnef tab-active ir-enlace-self" data-file="perfil-electoral.html">Perfil electoral</div>
					<div class="tab-link--dnef ir-enlace-self" data-file="infografias.html">Infografías</div>			
				</div>
				<div class="content-info-tabs">
					<!-- INFOT TABS 1-->
					<div class="tab-content tab-active" >
						<div class="row">
							<div class="col-md-3">
								<div class="content-general-filtro">
									<div class="content-bloque-filtros bb-0">
										<div class="titulo-bloque-filtros">Año de publicación</div>
										<div class="content-checkbox-filter">
											<label class="checkbox"> Todos
											    <input type="radio" name="contenido" value="" id="" checked="">
											    <span class="check"></span>
											</label>
										</div>
										<div class="content-checkbox-filter">
											<label class="checkbox">2018
											    <input type="radio" name="contenido" value="" id="">
											    <span class="check"></span>
											</label>
										</div>
										<div class="content-checkbox-filter">
											<label class="checkbox"> 2019
											    <input type="radio" name="contenido" value="" id="">
											    <span class="check"></span>
											</label>
										</div>
										<div class="content-checkbox-filter">
											<label class="checkbox"> 2020
												<input type="radio" name="contenido" value="" id="">
											    <span class="check"></span>
											</label>
										</div>
										<div class="content-checkbox-filter">
											<label class="checkbox"> 2021
											    <input type="radio" name="contenido" value="" id="">
											    <span class="check"></span>
											</label>
										</div>
										<div class="content-checkbox-filter">
											<label class="checkbox"> 2022
											    <input type="radio" name="contenido" value="" id="">
											    <span class="check"></span>
											</label>
										</div>
									</div>				
								</div>
							</div>
							<div class="col-md-9" ng-app="appXX" ng-controller="recursosXX">
								<div class="dnef-titulo-bloque">Perfil Electoral</div>
								<p class="mb-30">El Voluntariado juvenil del Jurado Nacional de Elecciones (JNE) es un espacio organizado de formación ciudadana y de promoción de valores y prácticas cívicas, donde las y los jóvenes contribuyen al fortalecimiento de la democracia a través de acciones educativas y de sensibilización dirigidas a la ciudadanía.</p>
								<div class="content-filtros-datos">
									<div class="form-row">
										<div class="form-group col-lg-12">
											<label for="" class="">¿Qué buscas?</label>
											<div class="form-row">
												
												<div class="form-group col-lg-10">										
			                         				<!-- <input id="txtBuscarTitulo" type="text" name="" class="form-control" placeholder="Ingrese un titulo" maxlength="">	 -->
													 <input type="text" class="form-control" placeholder="Ingrese un titulo" ng-model="filterText">	
												</div>
												<div class="form-group col-lg-2">
													<button ng-click="setPage(2)"  class="btn-principal dnef-btn-block"><span class="icon-lupa"></span>  Buscar</button>
												</div>
												
											</div>
										</div>							
									</div>									
								</div>
								
							
								<!-- <div ng-app="appXX" ng-controller="recursosXX"> -->
									<div >
									<!-- <input type="text" class="form-control" placeholder="Ingrese un titulo" ng-model="filterText">	 -->

									<div class="row">										
										<!-- <div class="col-md-4 mb-20" ng-repeat="item in items"> -->
										<div class="col-md-4 mb-20" ng-repeat="item in items = (normas | filter : {titulo: filterText}) ">
										<!-- <div class="col-md-4 mb-20" ng-repeat="item in items = (normas | filter : {itemName: filterText}) | limitTo:3:3*(page-1)"> -->
																<!-- <li ng-repeat="item in filterData = (totalItems | filter : {itemName: filterText}) | limitTo:3:3*(page-1)"> -->
											<div class="item-investigacion">
												<div class="img-item-investigacion"><img src="{{item.imagen}}" class="mw100"></div>
												<div class="titulo-item-investigacion">{{item.titulo}}</div>
												
												<div class="text-center">
													<a href="{{item.descarga}}" target="_blank" class="btn-principal">
														Descargar
													</a>
												</div>
											</div>
										</div>
												
									</div>
								
									<!-- <uib-pagination class="pagination-sm pagination" total-items="items.length" ng-model="page"
									ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination> -->

									<div class="row">
										<div class="col-md-12 text-center" ng-if="!searchtxt" style="background-color:#ffffff;">
											<nav aria-label="Page navigation">
												<ul class="pagination mt-30 justify-content-center" ng-if="pager.pages.length">
													<li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
														<a ng-click="setPage(1)" class="page-link">Primero</a></li>
													<li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
														<a ng-click="setPage(pager.currentPage - 1)" class="page-link">Atrás</a></li>
													<li  class="page-item" ng-class="{active:pager.currentPage === page}" ng-repeat="page in pager.pages">
														<a ng-click="setPage(page)" class="page-link">{{page}}</a></li>
													<li class="page-item"  ng-class="{disabled:pager.currentPage === pager.totalPages}">
														<a ng-click="setPage(pager.currentPage + 1)" class="page-link">Siguiente</a></li>
													<li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
														<a ng-click="setPage(pager.totalPages)" class="page-link">Último</a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>


							</div>
							
						</div>
						
					</div>				
				</div>		
			</div>

		</div>	
	</div>
	<!-- FIN-->

	<footer class="dnef-footer">
		<div class="container container--footer">
			<div>Av.Nicolás de Piérola #1070 - Lima  / Central: (511) 311 - 1700</div>
			<div>© JNE. Todos los Derechos Reservados 2022</div>
		</div>
	</footer>

	<div class="content-pop-video">
		<div class="acciones-maximizar"><img src="images/icono-max.png" class="img100"></div>		
		<div class="content-video-max">	
			<div class="acciones-video"><span class="icon-close"></span></div>		
			<div class=""><img src="images/video-moises.png" class="img100"></div>
		</div>		
	</div>

</body>
</html>
